.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-body {
  flex: 1;
  display: flex;
  min-height: 0;
}

.layout-main {
  flex: 1;
  padding: 24px;
  overflow: auto;
  background: #e8eaf6;
}
